@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<a class="btn btn-primary" href="http://localhost:57195/" role="button">Back Page</a>
<a class="btn btn-primary" href="Contact" role="button">Next Page</a>

