<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Check your Enternet Connectivety.</h2>
        <h2>Somthing went to Wrong .</h2>
    </hgroup>
    <img src="~/Image/dog pic.png" />
</body>

</html>
